.game_wrapper {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.start_button_div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 10rem;
}

.start_button {
    font-family: VT323, monospace;
    color: rgb(93, 246, 17);
    border: 3px solid red;
    width: fit-content;
    font-size: 7vh;
    height: fit-content;
    background-color: black;
}

.instructions {
    font-family: VT323, monospace;
    color: rgb(93, 246, 17);
    font-size: 3vh;
    height: fit-content;
    background-color: black;
}

.score {
    font-family: VT323, monospace;
    color: rgb(93, 246, 17);
    font-size: 7vh;
    height: fit-content;
    background-color: black;
}

.game_button_container{
    border: 3px solid rgb(209, 210, 210);
}

@media screen and (max-width:600px){
    .start_button_div{
        height: 15rem;
        width: 90%;
    }
    .game_button_container{
        width: 90%;
        /* border: 3px solid rgb(209, 210, 210); */
    }
}

@media screen and (min-width:601px){
    .start_button_div{
        height: 15rem;
        width: 60%;
    }
    .game_button_container{
        width: fit-content
        /* border: 3px solid rgb(209, 210, 210); */
    }
}


