.home_mobile_wrapper {
    background-color: black;
    height: 100vh;
}

.profile_contacts_projects_wrapper {
    display: flex;
    flex-direction: row;
}

.contacts_technologies_div {
    display: flex;
    width: 45%;
}

.projects_profile_div {
    width: 55%;
    overflow: hidden;
}